<!--
<!DOCTYPE html>
<html>
<head>
    <title>Chef</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<body>
<div><a href="/"><img src="/logo-siwfood.png" width="10%"/></a></div>
<div th:if="${chef}">

    <div>
        <div class="carousel-item active">
            <img class="d-block w-100" style="object-fit: cover; width: 25rem; height: 35rem;"
                 th:src="@{'data:image/'+${chef.getFirstImage().getFormat()}+';base64,'+${chef.getFirstImage().getBase64()}}"
                 width="100">
        </div>
        <div class="carousel-item" th:each="image : ${chef.getAllImagesWithoutFirst()}">
            <img class="d-block w-100" style="object-fit: cover; width: 25rem; height: 35rem;"
                 th:src="@{'data:image/'+${image.getFormat()}+';base64,'+${image.getBase64()}}"
                 width="100">
        </div>
    </div>


    <h1 class="text-body-emphasis" th:text="${chef.name} + ' ' + ${chef.surname}"> Edoardo Fornelli</h1>
    <h3 class="text-body-emphasis m-3" th:text="'Data di nascita: ' + ${#dates.format(chef.birthDate, 'dd-MM-yyyy')}"> 14/05/1992 </h3>

    <div>
        <a href="/Admin/modifyChef" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> Modifica dati Cuoco</a>
    </div>

</div>
<div th:unless="${chef}">Non esiste</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

</body>
</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chef</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <style>
        /* Custom CSS can go here if needed */
    </style>
</head>
<body>

<div class="container py-4">
    <a href="/" class="d-block mb-4"><img src="/logo-siwfood.png" width="10%" alt="Logo"></a>

    <!-- Checking if chef exists -->
    <div th:if="${chef}">
        <div class="row">
            <div class="col-md-6">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <!-- First image -->
                        <div class="carousel-item active">
                            <img class="d-block w-100" style="object-fit: cover; height: 35rem;"
                                 th:src="@{'data:image/'+${chef.getFirstImage().getFormat()}+';base64,'+${chef.getFirstImage().getBase64()}}"
                                 alt="First slide">
                        </div>
                        <!-- Other images -->
                        <div th:each="image, iterStat : ${chef.getAllImagesWithoutFirst()}" class="carousel-item">
                            <img class="d-block w-100" style="object-fit: cover; height: 35rem;"
                                 th:src="@{'data:image/'+${image.getFormat()}+';base64,'+${image.getBase64()}}"
                                 alt="Slide number [[${iterStat.index}]]">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h1 class="text-body-emphasis" th:text="${chef.name + ' ' + chef.surname}">Edoardo Fornelli</h1>
                <h3 class="text-body-emphasis m-3" th:text="'Data di nascita: ' + ${#dates.format(chef.birthDate, 'dd-MM-yyyy')}">14/05/1992</h3>
                <a href="/Admin/modifyChef" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Modifica dati Cuoco</a>
            </div>
        </div>
    </div>

    <!-- Display message if chef does not exist -->
    <div th:unless="${chef}">Non esiste</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>
