<!DOCTYPE html>
<html>
	<head>
    <title>New Recipe</title>
    <link rel="stylesheet" href="/stile.css?version=3" />
  </head>
  <body>
    
		<div><a href="/"><img src="/images/logo-siwfood.png" width="50%"/></a></div>
    	<h1>Aggiungi una ricetta</h1>
    	<form th:action="@{/recipe}" method="POST" th:object="${recipe}">
	
		<div>
        Nome: <span><input required type="text" th:field="${movie.title}"/></span>
      	</div>
	  
		<div>
				<a href="addChef.html">Associa un Cuoco a questa ricetta</a>
		</div>
		
		<div>
					<a href="addIngredient.html">Associa un ingrediente a questa ricetta</a>
		</div>
			
		
    </form>
  </body>
</html>
