<!DOCTYPE html>
<html>
	<head>
		<title>SiwFood - Homepage</title>
		<link rel="stylesheet" href="/stile.css?version=2" />
	</head>
	
<body>
	<div><a href="/"><img src="/main/resources/static/logo-siwfood.png" width="50%"/></a></div>	
	<h1>Consulta</h1>
	<div>
		<a href="/recipe">Ricette</a>
	</div>
	
	<div>
		<a href="formNewRecipe.html">Inserisci nuova ricetta</a>
	</div>
	
	
	<div>
		<a href="formSearchRecipe.html">Cerca Ricetta </a>
	</div>
	
	<h1>Operazioni</h1>
	
	<div>
		<a href="indexRecipe.html">Operazioni sulle ricette</a>
	</div>
	
</body>
</html>