<!DOCTYPE html>
<html>
	<head>
		<title>Ricetta</title>
		<link rel="stylesheet" href="/stile.css?version=2" />
	</head>
	
	<body>
		<div><a href="/"><img src="/images/logo-siwfood.jpg" width="50%"/></a></div>
		<div th:if="${recipe}">
			<h1 th:text="${recipe.name}">Nome della ricetta</h1>
			<div>Cuoco:<span th:text="${recipe.chef != null} ? ${' ' + recipe.chef.name + ' ' + recipe.chef.surname} : ' Nessun cuoco inserito'">Edoardo Fornelli</span></div>
			
			
			<div>Ingredienti:<span th:each="ingredient : ${recipe.ingredients}"
			           					  th:text="' ' + ${ingredient.name} + ' - ' + ${ingredient.quantity}+ ' grammi ' "> Farina 00 - 100 grammi</span></div>
							 
										  
		</div>
		<div th:unless="${recipe}">Non esiste</div>
	</body>
</html>